# Core functionality - changes here should be rare!
/src/app.py                   @paigeinit
/src/backend/database.py      @paigeinit
/src/backend/routers/auth.py  @paigeinit

# The frontend will need refactored soon to be more object oriented.
/src/static/   @paigeinit
